# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter temporary files
.ipynb_checkpoints/

# IDE settings
.vscode/

# Windows files
Thumbs.db
Desktop.ini

# macOS files
.DS_Store

# Logs and temporary files
*.tmp
*.temp

# Secrets and environment variables
.env
*.key
*.pem

# Credentials
credentials.json
secrets.json

part2_python/output/
mlruns/
part3_machine_learning/mlflow.db
part3_machine_learning/part3.log
